<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.Dao.AdminDao">
    <select id="queryAdmin" parameterType="java.lang.String" resultType="Admin">
         select id,username,password from d_admin where username=#{username}
    </select>

    <insert id="insertAdmin" parameterType="Admin">
       insert into d_admin values(#{id},#{username},#{password})
   </insert>
</mapper>
